*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;;
  }
.CTA_button{
    box-sizing: border-box;
    box-shadow: 5px 10px 16px rgba(0, 0, 0, 0.25);
}
.projectCard{
    height: 422px;
    max-height: 500px;
    filter: drop-shadow(0px 15px 20px rgba(76, 75, 75, 0.25));
}
.linear_darkPink_to_lightPink{
    background: linear-gradient(180deg, #450920 0%, #FFA5AB 100%);
}
.linear_lightPink_to_darkPink{
    background: linear-gradient(180deg,  #FFA5AB 0%,#450920 100%);
}

.linear_darkPink_to_darkGray{
    background: linear-gradient(180deg,  #450920 0%,#1A1A2E 100%);
}
.ui_image{
    filter: drop-shadow(0px 15px 20px rgba(0, 0, 0, 0.25));
}
.link_to_figma{
    box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.25);
}
.swiper-button-prev{
    color: #A53860 !important;
}
.swiper-button-next{
    color: #A53860 !important;
}
.swiper-pagination-bullet-active{
    background-color: #A53860 !important;
}